* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.div-body {
    width: 100vw;
    height: 100vh;
}

.container {

    position: relative;
    width: 1440px;
    height: 1964px;
    background: #FAFAFA;

}

.header-home {
    position: absolute;
    width: 1111px;
    height: 32px;
    left: 164px;
    top: 60px;
}

.home-li a {
    text-decoration: none;
    position: absolute;
    height: 14px;
    left: 74.89%;
    top: calc(50% - 14px/2);

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #5FB4A2;

}

.portfolio-li a {
    text-decoration: none;
    position: absolute;
    height: 14px;
    left: 82.54%;
    top: calc(50% - 14px/2);

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;
}

.contact-li {
    position: absolute;
    height: 14px;
    left: 93.88%;
    top: calc(50% - 14px/2);

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;
}

.logo-header img {

    width: 60.08px;
    height: 32px;
}

.image-hero img {
    position: absolute;
    width: 1110px;
    height: 600px;
    left: 165px;
    top: 150px;
}

.hero-box {
    position: absolute;
    width: 445px;
    height: 357px;
    background: #FAFAFA;
    left: 165px;
    top: 393px;
}

.hero-text {
    position: absolute;
    width: 390px;
    height: 200px;
    left: 192px;
    top: 449px;

    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;

    letter-spacing: -0.446429px;

    color: #33323D;
}

.hero-sobre-mim {

    position: absolute;
    width: 200px;
    height: 48px;
    left: 165px;
    top: 702px;
    background: #203A4C;
}

.hero-sobre-mim h5 {
    position: absolute;
    height: 14px;
    left: 24%;
    right: 0%;
    top: calc(50% - 14px/2);

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}


.box-down-rows {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 165px;
    top: 702px;

    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.10;
}

.box-down-rows:hover {
    opacity: 0.50;
}

.down-rows-image img {
    position: absolute;
    width: 16px;
    height: 12px;
    left: 181px;
    top: 720px;
}

.profile-image img {

    position: absolute;
    width: 540px;
    height: 600px;
    left: 165px;
    top: 900px;

}

.about-box {

    position: absolute;
    width: 430px;
    height: 601px;
    left: 845px;
    top: 900px;
}

.about-title {
    position: absolute;
    width: 430px;
    height: 42px;
    left: 845px;
    top: 952px;

    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;

    letter-spacing: -0.357143px;

    color: #33323D;
}

.about-text {
    position: absolute;
    left: 845px;
    right: 165px;
    top: 1022px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;

    mix-blend-mode: normal;
    opacity: 0.8;
    text-align: justify;
}

.ir-portfolio {

    position: absolute;
    width: 204px;
    height: 48px;
    left: 958px;
    top: 1406px;

    border: 1px solid #33323D;

}

.ir-portfolio-h5 a {
    text-decoration: none;
    position: absolute;
    left: 986px;
    top: 1423px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
}

.about-line-top {
    position: absolute;
    width: 430px;
    height: 1px;
    left: 845px;
    top: 900px;

    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
}

.about-line-down {
    position: absolute;
    width: 430px;
    height: 1px;
    left: 845px;
    top: 1500px;

    background: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
}

.contact {
    position: absolute;
    width: 1110px;
    height: 84px;
    left: 165px;
    top: 1650px;
}

.contact h2 {
    position: absolute;
    height: 84px;
    left: 0%;
    right: 66.94%;
    top: calc(50% - 84px/2);

    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;

    letter-spacing: -0.357143px;

    color: #33323D;
}

.contact-button {
    position: absolute;
    width: 168px;
    height: 48px;
    left: 1107px;
    top: 1668px;
}

.contact-button h5 {
    position: absolute;
    height: 14px;
    left: 29.76%;
    right: 29.76%;
    top: calc(50% - 14px/2);

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;
}

footer {

    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 1884px;

    background: #33323D;

}

.footer-home-li a {
    text-decoration: none;
    position: absolute;
    height: 14px;
    left: 274px;
    top: 33px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footer-portfolio-li a {
    text-decoration: none;
    position: absolute;
    height: 14px;
    left: 359px;
    top: 33px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footer-contact-li {
    position: absolute;
    height: 14px;
    left: 485px;
    top: 33px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.footer-light-logo img {

    position: absolute;
    width: 60.08px;
    height: 32px;
    left: 165px;
    top: 24px;

}

.github {
    position: absolute;
    width: 25px;
    height: 24px;
    left: 1171px;
    top: 28px;
}

.twitter {
    position: absolute;
    width: 24px;
    height: 19.5px;
    left: 1211px;
    top: 30.25px;

}

.linkedin {

    position: absolute;
    width: 24px;
    height: 24px;
    left: 1251px;
    top: 28px;

}